.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  min-width: 1200px;
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    .logo {
      color: #3c64b1;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      text-align: right;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          margin-left: 30px;
          color: #373f41;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
        }
      }

      .locale-wrapper {
        margin-left: 20px;
        > button {
          width: 67px;
          height: 42px;
          padding: 0;
        }
      }
    }
  }
}
